<br>
<br>
<br>

{{ dump(items) }}
<div class="mini-pager">
	<a href="{{ items.previous.href }}" title="{{ 'Previous page'|t }}" class="mini-pager-prev">
		<button type="button">
			&laquo;
			{{ 'Previous'|t }}
		</button>
	</a>

	<a href="{{ items.next.href }}" title="{{ 'Next page'|t }}" class="mini-pager-next">
		<button type="button">
			{{ 'Next'|t }}
			&raquo;
		</button>
	</a>

</div>
