<article class="blog educational">
	<h2 class="blog__title">
		<a href="{{ url }}">{{ label }}</a>
	</h2>

	<div class="blog__meta">
		<span class="blog__type">{{ content.field_type }}</span>
	</div>

	<div class="slick-slider">
		{{ attach_library('mytheme/slick_slider') }}
		{{ content.field_slider }}
	</div>

	<div class="blog__content">
		{{ content.body }}
	</div>

	<div class="blog__read-more">
		<a href="{{ url }}" class="blog__link">Read More</a>
	</div>
</article>
