<article class="blog blog--{{ node.bundle }}">
	<h2 class="blog__title">
		<a href="{{ url }}">{{ label }}</a>
	</h2>

	{# {{ dump(content.field_slider) }} #}

	<div class="blog__meta">
		<span class="blog__author">{{ content.field_author }}</span>
		<span class="blog__date">{{ date }}</span>
		<span class="blog__type">{{ content.field_type }}</span>
	</div>

	<div class="blog__summary">
		{{ content.field_summary }}
	</div>

	<div class="blog__content">
		{{ content.field_body }}
	</div>

	<div class="blog__read-more">
		<a href="{{ url }}" class="blog__link">Read More</a>
	</div>
</article>
